.root {
  -fx-font-family: "Helvetica";
  -fx-font-size: 15px;
}

.text-field {
  -fx-background-radius: 8;
  -fx-border-radius: 7;
}

.color-picker {
  -fx-background-color: #00000033;
}

.color-picker .arrow {
  -fx-background-color: #dae5f5;
}

#creator-hbox {
  -fx-background-color: #db8ab1;
  -fx-background-radius: 8;
}

#create-btn {
  -fx-background-color: #1071e0;
  -fx-text-fill: #d9f1ff;
  -fx-font-weight: bold;
  -fx-font-size: 15px;
  -fx-background-radius: 7;
  -fx-pref-width: 120.0;
  -fx-pref-height: 35.0;
  -fx-skin: 'ui.skins.ButtonHoverSkinBlue';
}

#create-btn:hover {
  -fx-text-fill: #1071e0;
}

#player-lv, #player-lv .list-cell {
  -fx-background-color: #af99bf;
  -fx-text-fill: #e9f2f5;
  -fx-pref-width: 100px;
  -fx-font-weight: bold;
  -fx-background-radius: 8;
}

#player-lv .list-cell:odd {
  -fx-background-color: #786dbd;
  -fx-text-fill: #e9f2f5;
}

#create-tf {
  -fx-background-color: #3f93f2;
  -fx-border-color: #0d60bd;
}

#create-lbl {
  -fx-text-fill: #f5f7fa;
  -fx-stroke: black;
  -fx-stroke-width: 3px;
  -fx-font-weight: bold;
}

#player-ank {
  -fx-background-color: #89d999;
}

#player-tf {
  -fx-background-color: #64bf5a;
  -fx-border-color: #097a10;
}

#player-lbl, .color-picker .label {
  -fx-text-fill: #13451d;
  -fx-font-size: 17px;
  -fx-font-weight: bold;
}

#player-btn {
  -fx-background-color: #1da616;
  -fx-text-fill: #d9ffe1;
  -fx-font-size: 15px;
  -fx-pref-width: 120.0;
  -fx-pref-height: 35.0;
  -fx-skin: 'ui.skins.ButtonHoverSkinGreen';
}

#player-btn:hover {
  -fx-text-fill: #1da616;
}
