.root {
  -fx-font-family: "Helvetica";
  -fx-font-size: 15px;
}

#confirm-btn {
  -fx-pref-width: 0;
  -fx-pref-height: 0;
}

#close-button {
  -fx-pref-width: 135.0;
  -fx-pref-height: 25.0;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
  -fx-background-radius: 7;
  -fx-text-fill: #e8dcd1;
  -fx-background-color: #e88527;
  -fx-skin: 'ui.skins.ButtonHoverSkinOrange';
}

#close-button:hover {
  -fx-text-fill: #e88527;
}

.label {
  -fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-text-fill: #b55f0d;
}

#border-pane {
  -fx-background-color: #e8ae76;
}
