.root {
  -fx-font-family: "Helvetica";
  -fx-font-size: 15px;
}

.label {
  -fx-text-fill: #a83939;
}

.button {
  -fx-text-fill: #e8dcd1;
  -fx-background-color: #e88527;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
  -fx-background-radius: 7;
  -fx-pref-width: 155.0;
  -fx-pref-height: 35.0;
  -fx-skin: 'ui.skins.ButtonHoverSkinOrange';
}

.button:hover {
  -fx-text-fill: #e88527;
}

.table-view {
  -fx-background-color: #1e83ba;
  -fx-background-radius: 7, 0, 0, 7;
}

.table-view .column-header {
  -fx-background-color: #4c5463;
  -fx-border-color: black;
  -fx-background-radius: 0, 7, 7, 0;
}

.table-view .column-header .label, .table-view .placeholder .label {
    -fx-text-fill: #f5f7fa;
    -fx-font-weight: bold;
}

.list-view, .list-view .list-cell {
  -fx-background-color: #76bbdb;
  -fx-text-fill: #e9f2f5;
  -fx-font-size: 17px;
  -fx-pref-width: 100px;
  -fx-font-weight: bold;
  -fx-background-radius: 8;
}

.list-view .list-cell:odd {
  -fx-background-color: #3a51c2;
  -fx-text-fill: #e9f2f5;
}

.grid-pane {
  -fx-background-radius: 8;
}

#roll-lbl {
  -fx-text-fill: #f5f7fa;
  -fx-stroke: black;
  -fx-stroke-width: 3px;
  -fx-font-size: 22px;
  -fx-font-weight: bold;
}

#game-sidebar {
  -fx-background-color: #58b08b;
  -fx-background-radius: 5;
}

#even-tile {
  -fx-background-color: #ffe5c4;
  -fx-background-radius: 10;
  -fx-border-color: black;
  -fx-border-radius: 10;
}

#odd-tile {
  -fx-background-color: #ffcbad;
  -fx-background-radius: 10;
  -fx-border-color: black;
  -fx-border-radius: 10;
}

#tile-numbers {
  -fx-text-fill: #202121;
  -fx-font-size: 19px;
  -fx-font-weight: bold;
}

#turn-lbl {
  -fx-text-fill: #d1ebd1;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

#timer-lbl {
  -fx-text-fill: #662424;
  -fx-font-size: 17px;
  -fx-font-weight: bold;
}

#timer-lbl-won {
  -fx-text-fill: #4be34b;
  -fx-font-weight: bold;
}

#turn-lbl-won {
  -fx-text-fill: #7bff2e;
  -fx-font-size: 22px;
  -fx-font-weight: bold;
}

#snake {
  -fx-text-fill: #962a0c;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
}

#ladder {
  -fx-text-fill: #186e00;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
}
