.root {
  -fx-font-family: "Helvetica";
  -fx-font-size: 15px;
}

.list-view {
  -fx-background-radius: 15;
  -fx-background-color: #a0cf34;
  -fx-font-size: 19px;
  -fx-font-weight: bold;
  -fx-padding: 5;
}

.list-view .list-cell:odd {
  -fx-background-color: #729e0d;
  -fx-background-radius: 15, 0, 15, 0;
  -fx-alignment: center;
}

.list-view .list-cell:even {
  -fx-background-color: transparent;
  -fx-alignment: center;
}

.label {
  -fx-text-fill: #f0dab4;
  -fx-font-size: 25px;
  -fx-stroke-width: 6px;
  -fx-font-weight: bold;
}

.button {
  -fx-pref-width: 135.0;
  -fx-pref-height: 25.0;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
  -fx-background-radius: 7;
  -fx-background-color: #d9bd0b;
  -fx-text-fill: #524b02;
  -fx-skin: 'ui.skins.ButtonHoverSkinGelb';
}

.button:hover {
  -fx-text-fill: #ada11c;
  -fx-background-color: #f5eaa9;
}

#vbox {
  -fx-background-color: #a0cf34;
  -fx-background-radius: 15;
}

#info-lbl {
  -fx-text-fill: #2a6b2a;
  -fx-font-weight: bold;
  -fx-font-size: 17px;
}
