.radio-button .radio {
  -fx-border-color: black;
  -fx-border-radius: 10;
  -fx-border-width: 3px;
}

.radio-button {
  -fx-font-size: 25px;
}

.radio-button:selected .radio {
  -fx-border-color: white;
  -fx-border-width: 3px;
}

.radio-button:selected .radio .dot {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
}

#color1 .radio {
  -fx-background-color: #c1272d;
}

#color2 .radio {
  -fx-background-color: #f15a24;
}

#color3 .radio {
  -fx-background-color: #0283ba;
}

#color4 .radio {
  -fx-background-color: #00008e;
}

#color5 .radio {
  -fx-background-color: #c29b02;
}

#color6 .radio {
  -fx-background-color: #00a316;
}

#color7 .radio {
  -fx-background-color: #dd3358;
}

#color8 .radio {
  -fx-background-color: #93278f;
}

#color9 .radio {
  -fx-background-color: #a0bf00;
}

#color10 .radio {
  -fx-background-color: #dfdfdf;
}
